/* General CSS */

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    background-color: #ECF4D7;
}

/* Navigation */
.navbar-main {

    background-color: #ECF4D7;
    padding: 10px;
    color: black;
}


.navbar-menu {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.navbar-menu a:hover {
    transition: 0.3s ease;
    padding-top: 1px;
    color: rgb(236, 163, 78);
}

.navbar-menu a {
    padding: 5px 14px;
    color: black;
}

.logo {
    font-size: 20px;
    color: black;
    padding-left: 60px;
}

/* Title */

header {
    height: 300px;
    width: 100%;
    display: block;
    color: rgb(128, 127, 127);
    margin-bottom: 100px;
}

header h1 {
    padding-top: 150px;
    padding-left: 120px;
    font-size: 80px;
}

/* Projects part */

section {
    /* height: 60vh; */
    width: 100%;
    display: flex;
    color: rgb(128, 127, 127);
    font-size: large;
}

#su2 {
    max-width: 250px;
    max-height: 250px;
}

#btn {
    height: 60px;
    width: 160px;
    border-style: solid;
    border-color: rgb(128, 127, 127);
    background-color: #ECF4D7;
    margin-top: 30px;
    border-radius: 20px;
    color: rgb(128, 127, 127);
}

#btn:hover {
    transition: 0.5s;
    background-color: rgb(236, 163, 78);
    color: whitesmoke;
    border-color: rgb(236, 163, 78);
}

@media(max-width:500px) {
    #btn {
        height: 40px;
        width: 100px;
    }

    section {
        font-size: small;
    }

    header h1 {
        font-size: 50px;
    }
}

/* Footer and other materials */

footer {
    height: 100px;
    width: 100%;
    background-color: #ECF4D7;
    display: grid;
    margin-top: 60px;
    margin-bottom: 20px;
}

footer p {
    text-align: center;
    font-size: smaller;
    color: rgb(24, 23, 23);
    padding-top: 15px;
}

.socials {
    color: rgb(24, 23, 23);
    text-align: center;
    margin-bottom: 20px;
}

.socials-logo {
    margin: 0 5px;
}

ion-icon {
    font-size: 20px;
    color: black;
    text-align: center;
}